:root {
  --background: 0 0% 100%;
  --foreground: 220 6% 20%;
  --card: 0 0% 100%;
  --card-foreground: 220 6% 20%;
  --popover: 0 0% 100%;
  --popover-foreground: 240 10% 3.9%;
  --primary: 334 85% 62%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 20% 13%;
  --secondary-foreground: var(--primary-foreground);
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  /* --ring: 142.1 76.2% 36.3%; */
  --ring: var(--primary);
  --radius: 0.1rem;

  /* sidebar variables */
  --sidebar-background: var(--background);
  --sidebar-foreground: var(--foreground);
  --sidebar-primary: var(--primary);
  --sidebar-primary-foreground: var(--primary-foreground);
  --sidebar-accent: var(--accent);
  --sidebar-accent-foreground: var(--accent-foreground);
  --sidebar-border: var(--border);
  --sidebar-ring: var(--ring);
  --sidebar-input: var(--input);

  --header-height: 130px;
}

@screen lt-md {
  :root{
    --header-height: 100px
  }
}

body {
  --uno: "font-sans text-foreground";
}

/* p {
  --uno: "leading-loose";
} */
